@model IEnumerable<Nhom6.Models.HangNH>
<div id="sidebar" class="span3">
    <h4 style="margin-left: 5px;">Danh sách Hãng Nước Hoa</h4>
    <ul id="sideManu" class="nav nav-tabs nav-stacked">
        <!--Lấy model từ TrangChuController-->
        @foreach (var item in Model)
        {
            <li><a href="@Url.Action("SpHang", "TrangChu", new { id=item.MaHang})">@item.TenHang</a></li>
        }

    </ul>
    </div>

