
@{
<<<<<<< HEAD
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/layoutchung.cshtml";
}

<h3>Thông tin liên hệ</h3>
<hr class="soft" />
<br />

=======
    ViewBag.Title = "Lienhe";
    Layout = "~/Views/Shared/LayOutUser.cshtml";
}

<h3>Thông tin liên hệ</h3>
<!-- Do not change the code! -->
@*lấy mã nhúng từ trang foxyform , ng dùng gởi thông tin sẽ về email của trang đăng kí khi lấy mã nhúng*@

<a id="foxyform_embed_link_839256" href="http://www.foxyform.com/">foxyform</a>
<script type="text/javascript">
    (function (d, t) {
        var g = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
        g.src = "http://www.foxyform.com/js.php?id=839256&sec_hash=e9fa6d989fd&width=350px";
        s.parentNode.insertBefore(g, s);
    }(document, "script"));
</script>
<!-- Do not change the code! -->
@*thêm thông tin người bán hàng*@
<div id="sidebar" class="span3" style="background-color:lightpink">
    <h4 style=" margin-left 5px;"> Nhung: 01636769370</h4>
    <h4 style=" margin-left 5px;"> Phương: 1090735648</h4>
    <h4 style=" margin-left 5px;"> Shipper: 8564864643</h4>
    <h4 style=" margin-left 5px;"> Trung tâm: 05688487</h4>
</div>
>>>>>>> CamNhung_Rose
